<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zangool.ir - Event Organizer System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-10">
       <div class="row">
          <div class="col-12">
            <h1>زنگول چیست؟</h1>
            <br/>
            <hr/>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h1>اعضای تیم</h1>
            <br/>

            <hr/>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            
            <h1>ارتباط با ما</h1>
            <br/>
            
            <hr/>
        </div>
    </div>
    
    
    </div>
    <div class="col-2 vh-100" style="background-color:#00AAB7" >
   
    
    </div>

</div>
  

  



<!-- JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>