<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
        <div class="vh-100">

            <div class="row">

              <div class="col-2 sidebar evh-100 text-center" id="tifani-class">
                <img src="menu-icon-white.png" class="mt-4 w-25">
                <h4 class="mt-5 text-white">جلسات</h3>
              </div>


                <div class="col-10 vh-100">
                    
                    <div class="container mt-4 text-end">
                      <div class="second">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-lg" href="#" id="btn-yel">افزودن جلسه</a>
                            <a class="btn btn-danger btn-lg" href="#">ویرایش</a>
                         </div>
                      </div>

                      <div class="card mt-4">
                        <div class="card-body" id="bg-card">
                          <h5 class="card-title">عنوان جلسات</h5>
                          <p class="card-text text-">این جلسه جهت هماهنگی تیم های مارکتینگ و محصول طراحی شده است.</p>
                          <a href="#" class="btn btn-primary" id="btn-card">ورود به درس</a>
                        </div>
                      </div>

                      <div class="card mt-3">
                        <div class="card-body" id="bg-card">
                          <h5 class="card-title">عنوان جلسات</h5>
                          <p class="card-text">این جلسه جهت هماهنگی تیم های مارکتینگ و محصول طراحی شده است.</p>
                          <a href="#" class="btn btn-primary" id="btn-card">ورود به درس</a>
                        </div>
                      </div>

                      <div class="card mt-3">
                        <div class="card-body" id="bg-card">
                          <h5 class="card-title">عنوان جلسات</h5>
                          <p class="card-text">این جلسه جهت هماهنگی تیم های مارکتینگ و محصول طراحی شده است.</p>
                          <a href="#" class="btn btn-primary" id="btn-card">ورود به درس</a>
                        </div>
                      </div>

                      


                    </div>
                </div>
                
                

            </div>
        </div>







        

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>